<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- p5, p5.collide2d --}}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5.collide2d@0.7.1/p5.collide2d.min.js"></script>
    {{!-- stylesheet --}}
    <link rel="stylesheet" href="./styles/game.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <title>Emoji Runner | Game</title>
</head>

<body class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar navbar-expand-lg navbar-dark justify-content-center">
            <h1> <img src="https://i.pinimg.com/originals/2f/b0/24/2fb024fb7d3700e80b072b0ad2d2200c.gif" width="50" ,
                    height="60"></img>
                <span class="fast-flicker"> Emoji
                </span>-<span class="flicker"> Runner </span>
            </h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navmenu">
                <a class="dropdown-item" href="/home">Home<span class="sr-only">(current)</span></a>
                <a class="dropdown-item" href="/profile">User<b class="font-bold">Profile</b><span
                        class="sr-only">(current)</span></a>
                <a class="dropdown-item purchased " href="/store">User<b class="font-bold">Library</b><span
                        class="sr-only">(current)</span></a>
                <a class="dropdown-item" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b
                        class="runner-email font-semi">{{user.email}}</b><span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-sm" id="score">
                <div class="card d-flex flex-row float-right" id="scoreBlack">
                    <div class="card-body" id="scoreboard">Score</div>
                </div>
            </div>
        </div>
    </div>
{{!-- 
    <footer class="footer fixed-bottom text-center">
        <h5>&copyCopyright 2020 Built From Scratch By David, Chase, Kimya and Maurice</h5>
    </footer> --}}

    {{!-- these js files are in public folder. to change sprite images
        and background, adjust the routes in app.js preload() function.
        all images are in subfolders in public/images, mystic-forest is
        the only one cropped to the current size of the game window. crop
        images some, change game window size? to resize the window, see app.js:
        function setup({ createCanvas(num, num) }) tweak those nums, but this
        will change game physics, especially for player and flying enemies --}}

    <script type="text/javascript" src="./classes/player/character.js"></script>
    <script type="text/javascript" src="./classes/enemies/enemy-ground.js"></script>
    <script type="text/javascript" src="./classes/enemies/enemy-air.js"></script>
    <script type="text/javascript" src="./app.js"></script>

</body>

</html>