<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/home.css">
    {{!-- Bootstrap Link --}}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar navbar-expand-lg navbar-dark justify-content-center">
            <h1> <img
                    src="https://lh3.googleusercontent.com/proxy/D0wSoZEkt5pbki4RqbQSez8hsSEpBTtnghnwy6ENCGncjekV-gmnis0fY98B4Uoc4z83ymteCLTW6Nemcnyv41cV"
                    width="50" , height="60"></img>
                <span class="fast-flicker"> Emoji
                </span>-<span class="flicker"> Runner </span>
            </h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navmenu">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/profile">Runner<b class="font-bold">profile</b><span
                        class="sr-only">(current)</span></a>
                <a class="dropdown-item purchased" href="/purchased">Runner<b class="font-bold">library</b><span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link disabled" href="#">About</a>
            </div>
            <div class="nav-item dropdown runner-nav-item">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><b class="runner-email font-semi">{{page.user.email}}</b><span
                        class="sr-only">(current)</span></a>
                <div class="dropdown-menu font-reg">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class=" container playbutton">
        <button id="imag">
        <img src="https://lh3.googleusercontent.com/proxy/okP1sJJfx__9qIBpx0zHc23YPKllmrFQLV2lDSO_e9ioyO8xHoShHYG5W38eOCm7ucu7f2U927bHLiH_m2xcV8ScyJvQBKonUy6F5juyO3bU4QUCpA"
            width="300" height="100">
        </img>
        </button>
    </div>

    







    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../js/home.js"></script>
</body>

</html>