<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emoji Runner | Home Page</title>

    <link rel="stylesheet" href="../styles/home.css">
    {{!-- Bootstrap Link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>

<body class="container-fluid">

    <!-- nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar navbar-expand-lg navbar-dark justify-content-center">
            <h1> <img src="https://i.pinimg.com/originals/2f/b0/24/2fb024fb7d3700e80b072b0ad2d2200c.gif" width="50" ,
                    height="60"></img>
                <span class="fast-flicker"> Emoji
                </span>-<span class="flicker"> Runner </span>
            </h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-block" id="navbarNavAltMarkup">
            <div class="navbar-nav navmenu">
                <a class="dropdown-item  " href="#">Home<span class="sr-only">(current)</span></a>
                <a class="dropdown-item " href="/profile">User<b class="font-bold">Profile</b><span
                        class="sr-only">(current)</span></a>
                <a class="dropdown-item purchased " href="/store">User<b class="font-bold">Store</b><span
                        class="sr-only">(current)</span></a>
                <a class="dropdown-item" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b
                        class="runner-email font-semi">{{user.email}}</b><span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>

    <button class="btn-lg btn-dark mt-5 pt-4" id="image" style="border-radius: 10px;">
        <a href=" /game"> <img src="https://www.poundslots.com/wp-content/uploads/2017/03/button-play-now-games.gif"
                width="300" height="100" style="border-radius: 10px;">
            </img></a>
    </button>

    <footer class="footer fixed-bottom text-center text-white">
        <h5>&copyCopyright 2020 Built From Scratch By David, Chase, Kimya and Maurice</h5>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/home.js"></script>

</body>

</html>