<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- Custom CSS --}}
    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/main.css" rel="stylesheet">
    <link href="./styles/util.css" rel="stylesheet">

    <title>Emoji Runner | Home </title>
</head>

<body>
    {{!-- Main Nav --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="./images/Logo.png" style="width:120px;height:70px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    {{!-- Play Game --}}
    <div class="text-center">
        <a class="btn btn-light" href="/game" type="button" class="btn">Click Here To Play
            <p style="font-size: 20px;">Spacebar or Up to Jump</p></button>
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/home.js"></script>
</body>

</html>