/* This correspondes to game.handlebars,
    adjust as needed, make it pretty! */ 

@font-face {
font-family: Digital;
src: url('../fonts/digital-7.ttf');
}

nav{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid #5f0505;
    box-shadow: 15px 15px 15px #381803;
  }
  
html, body {
    background-image: url("https://www.freegreatpicture.com/files/147/4706-background-color.jpg"); 
    background-size: cover;
}
  
  /* increase top margin from 50 to ?? to make space for logo? */ 
canvas {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: groove 8px gold;
}
  
#score {
    margin: 10px 105px 2px 0;
    margin-right: 105px;
}
  
#scoreBlack {
    background-color: rgb(25, 0, 0);
    border-radius: 8px;
}
  
#scoreboard {
    font-family: Digital;
    color: yellow;
    font-size: 1.5em;
    padding: 4px;
    width: 10rem;
    margin-left: 15px;
}

footer {
    color: white;
    text-align: center;
  }