/* This correspondes to game.handlebars,
    adjust as needed, make it pretty! */ 

@font-face {
font-family: Digital;
src: url('../fonts/digital-7.ttf');
}

nav{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid #5f0505;
    box-shadow: 15px 15px 15px #381803;
  }

.navbar a{
    color:yellow
}
  
html, body {
    background-image: url("https://www.freegreatpicture.com/files/147/4706-background-color.jpg"); 
    background-size: cover;
}
  
/* canvas borders */ 
canvas {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: groove 8px gold;
}

/* level & score id's */ 
.statsBar {
    margin: 0 105px;
    border-radius: 10px;
}

#level {
    margin: 10px 0 2px 110px;
}
  
#score {
    margin: 10px 110px 2px 0;
}

#lives {
    margin: 10px 160px 2px;
}
  
#levelBlack, #scoreBlack, #livesBlack {
    background-color: rgb(25, 0, 0);
    border-radius: 8px;
}
  
#levelNum, #scoreboard {
    font-family: Digital;
    color: yellow;
    font-size: 1.5em;
    padding: 4px;
    width: 10rem;
    margin-left: 15px;
}

#livesNum {
    font-family: Digital;
    color: yellow;
    font-size: 1.5em;
    padding: 4px;
    text-align: center;
}