.card {
    color: whitesmoke;
    background-color: rgb(152, 165, 148);
    margin: 0px 15px 15px 15px;
    -webkit-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 4px 35px 0px rgba(0,0,0,0.75);
}
body{
  background-image: url("https://www.freegreatpicture.com/files/147/4706-background-color.jpg"); 
  background-size: cover;
  
  }

.topdog {
    z-index: 99;
}

.list-group,
.list-group-item {
    /* background-color: rgb(114, 114, 114); */
    background-color: rgb(152, 165, 148);;
}

.card-link {
    color: #f0933c;
}

.profile-content {
    margin-bottom: 50px;
}

.lead {
    color: rgb(172, 171, 171);
    font-size: 25px;
    margin: 0;
    margin-top: 70px;
}

.battle-dropdown {
    background-color: #f0933c;
}

.add-avatar {
    margin: 20px 5px 10px 5px;
}

.meme-avatar-btn {
    margin: 10px 5px 25px 5px;
}

.form-control {
    width: 95%;
    margin: 8px;
}


h2,h1,p {
    color: whitesmoke;
    
}
P{
  font-size: 15px;
}
h1{
  font-size: 60px;
}
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
/* Keyframe for text animation */
.sign {
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 3em;
  color: #b37b15;
  text-shadow: 0 0 0.3rem #ffe6ff, 0 0 1.5rem black,
    -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #152410;
    text-shadow: 0 0 0.3rem #c4c711, 0 0 1.5rem black,
      -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
      0 -0.5rem 2rem black, 0 0.5rem 3rem black;
  }
  28%,
  33% {
    color: rgb(62, 182, 26);
    text-shadow: none;
  }
  82%,
  97% {
    color: black;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 5s forwards, blink 3s 1s infinite;
}

.fast-flicker {
  animation: shine 5s forwards, blink 3s 1s infinite;
}

@keyframes shine {
  0% {
    color: rgb(175, 10, 10);
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem rgb(89, 192, 29),
      -0.2rem 0.1rem 1rem black, 0.2rem 0.1rem 1rem black,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}
